<section class="full_width">

    <div class="content">
        @if (project) {
        <div class="content_left">
            <div class="content_left_back_button" routerLink="/">
                <img [src]="'./assets/img/project_details/arrow_back.svg'">
                <p>{{'home.projectDetails.back' | translate}}</p>
            </div>
            <div class="content_left_text_container">
                <h2>{{ project.name }}</h2>
                <img class="project_line" [src]="'./assets/animation_img/project_details/blue_line.png'"
                    [style.width]='project.widthLine'>
                <h3>{{'home.projectDetails.description' | translate}}</h3>
                <p>{{ project.description | translate}}</p>
                <h3>{{'home.projectDetails.implementation' | translate}}</h3>
                <p>{{ project.implemantationDetails | translate }}</p>
                <h4>{{'home.projectDetails.duration' | translate}} <span>{{project.duration | translate}}</span></h4>
                <div class="content_left_text_container_lang">
                    @for (technology of project.technologies; track technology) {
                    <div class="content_left_text_container_lang_element">
                        <img [src]="technology.imageUrl">
                        <p>{{ technology.name }}</p>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="content_right">
            <div class="content_right_project_content">
                <div class="content_right_project_content_img">
                    <img [src]="project.imageUrl">
                </div>

                <div class="content_right_project_content_buttons">
                    <a href={{project.linkGithub}} class="btn_links">
                        GitHub
                    </a>

                    <a href={{project.linkLiveTest}} class="btn_links">
                        Live Test
                    </a>
                </div>

            </div>

            <div class="btn_next_back_mobile">

                <div class="content_left_back_button back_btn_mobile" routerLink="/">
                    <img [src]="'./assets/img/project_details/arrow_back.svg'">
                    <p>{{'home.projectDetails.back' | translate}}</p>
                </div>

                <div class="content_right_next_button" (click)="goToNextProject()">
                    <img [src]="'./assets/img/project_details/arrow_next.svg'">
                    <p>{{'home.projectDetails.next' | translate}}</p>
                </div>

            </div>


        </div>


        }
    </div>

</section>