.full_width {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url("/assets/img/backgrounds/project-details.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 120px;

    &_left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            font-size: 56px;
            padding-top: 56px;
        }

        h3 {
            font-size: 32px;
            padding-bottom: 16px;
        }

        h4 {
            font-size: 20px;
            padding-bottom: 40px;
        }

        span {
            font-weight: 400;
        }

        p {
            font-size: 24px;
            padding-bottom: 24px;
        }

        &_back_button {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                animation: none;
                width: 32px;
                height: 32px;
                padding-right: 8px;
                padding-bottom: 0;

                &:hover {
                    p {
                        color: #F87A55;
                    }
                }
            }

            p {
                padding-bottom: 0;
                font-size: 20px;
                font-weight: 600;
            }

            &:hover {
                cursor: pointer;

                p {
                    color: #F87A55
                }
            }
        }

        &_text_container {
            padding-left: 40px;

            img {
                height: 60px;
                width: 320px;
                animation: drawLine 6s infinite ease-in-out;
                padding-bottom: 40px;
            }
        }

        &_text_container_lang {
            display: flex;

            p {
                font-size: 18px;
                padding-bottom: 0;
                padding-right: 16px;
            }

            &_element {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    animation: none;
                    width: 48px;
                    height: 48px;
                    padding-bottom: 0;
                    padding-right: 8px;
                }
            }
        }
    }

    &_right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 80px;

        &_project_content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-bottom: 80px;

            &_img {
                width: 480px;
                height: 340px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 40px;

                img {
                    width: 480px;
                    height: 340px;
                    object-fit: contain;
                    border-radius: 24px;
                    object-position: center;
                }
            }

            &_buttons {
                width: 480px;
                padding-top: 80px;
                padding-right: 40px;
                display: flex;
                justify-content: flex-end;
                gap: 24px
            }
        }

        &_next_button {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;

            p {
                color: white;
                padding-right: 8px;
                font-size: 20px;
                font-weight: 600;

                &:hover {
                    cursor: pointer;
                    color: #F7C518
                }
            }

            img:hover {
                cursor: pointer;
            }

            img:hover+p {
                cursor: pointer;
                color: #F7C518;
            }


        }
    }
}

.project_line {
    height: 60px;
    object-fit: fill;
    display: block;
}

.btn_links {
    font-size: 24px;
    padding: 8px 24px;
    background-color: transparent;
    border-radius: 24px;
    box-shadow: 3px 4px 0 white;
    border: 1px solid white;
    color: white;
    transition: transform 200ms ease;
    text-decoration: none;

    &:hover {
        transform: translate(3px, 4px);
        box-shadow: 0 0 0 white;
        background-color: #F87A55;
        color: white;
        cursor: pointer;
    }
}

.back_btn_mobile {
    display: none;
    width: 200px;
}

.btn_next_back_mobile {
    width: 100%;
}

@keyframes drawLine {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    3% {
        clip-path: inset(0 0 0 0);
    }

    60% {
        clip-path: inset(0 0 0 0);
    }

    63% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@media (max-width: 1250px) {

    .full_width { 
        background-image: url("/assets/img/backgrounds/project-details_mobile.png");
    }

    .content {
        flex-direction: column;
        justify-content: flex-start;
        padding: 120px 120px;

        &_left {
            width: 100%;
            padding-bottom: 40px;

            &_back_button {
                display: none;
            }

            &_text_container {
                padding: 0;
                h2 {
                    padding-top: 0;
                }
            }
        }

        &_right {
            width: 100%;
            align-items: center;

            &_next_button {
                width: 100%;
            }

            &_project_content_img {
                padding: 0;
            }

            &_project_content_buttons {
                padding-right: 0;
                padding-top: 40px;
            }
        }
    }

    .back_btn_mobile {
        display: flex;
        justify-content: flex-start;
        p {
            color: white
        }
    }

    .btn_next_back_mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
}

@media (max-width: 1000px) {
    .content {
        padding: 120px 24px;

        &_right_project_content_buttons {
            width: 100%;
            padding: 0;
            padding-top: 40px;
        }
    }
}

@media (max-width: 550px) {
    .content {
        padding: 120px 24px;

        &_left_text_container {
            width: 100%;

            h3 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
            h4 {
                font-size: 16px;
            }

            &_lang {
                flex-direction: column;
                align-items: flex-start;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        &_right_project_content_img {
            width: 100%;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
            }
        }

        &_right_project_content_buttons {
            width: 100%;
        }
    }

    .btn_next_back_mobile {
        p {
            font-size: 16px;
        }
    }

    .btn_links {
        font-size: 20px;
    }
}