<section class="full_width">
    <nav class="header__navbar">
        <img [src]="'/assets/icons/placeholder/Vector.png'">
        <a href="#" class="nav_link nav_link--about">About me</a>
        <a href="#" class="nav_link nav_link--skills">Skills</a>
        <a href="#" class="nav_link nav_link--projects">Projects</a>
        <a href="#" class="nav_link nav_link--contact">Contact</a>
        <section class="language_toggle_section">
            <p class="language language-de" [class.active-language]="!isEnglish">
                DE
            </p>

            <div class="language-toggle" [class.active]="isEnglish" (click)="toggleLanguage()">
                <div class="language-toggle__circle"></div>
            </div>

            <p class="language language-en" [class.active-language]="isEnglish">
                EN
            </p>
        </section>
    </nav>

</section>