<section class="full_width" [class.project-header]="isProjectPage()">
    <nav class="header__navbar">
        <div class="header__navbar_logo" routerLink="">
        </div>
        
        <a href="#AboutMeSectionID" class="nav_link nav_link--about">{{ 'header.aboutMe' | translate }}</a>
        <a href="#SkillsSectionID" class="nav_link nav_link--skills">{{ 'header.skills' | translate }}</a>
        <a href="#ProjectsSectionID" class="nav_link nav_link--projects">{{ 'header.projects' | translate }}</a>
        <a href="#ContactSectionID" class="nav_link nav_link--contact">{{ 'header.contact' | translate }}</a>
        <section class="language_toggle_section">
            <p class="language language-en" [class.active-language]="isEnglish" (click)="setLanguage(true)" (click)="useLanguage('en')">
                EN
            </p>

            <div class="language-toggle" [class.active]="isEnglish" (click)="toggleLanguage()">
                <div class="language-toggle__circle"></div>
            </div>

            <p class="language language-de" [class.active-language]="!isEnglish" (click)="setLanguage(false)" (click)="useLanguage('de')">
                DE
            </p>
        </section>
    </nav>

    <nav class="header__navbar header__navbar_mobile">
        <div class="header__navbar_logo" routerLink="">
        </div>

        <div class="container_burger_menu" [class.nav-open]="isNavOpen">
            <button class="menu-toggle" type="button" (click)="toggleMenu()">
                <span class="menu-toggle-bar menu-toggle-bar--top"></span>
                <span class="menu-toggle-bar menu-toggle-bar--middle"></span>
                <span class="menu-toggle-bar menu-toggle-bar--bottom"></span>
            </button>
        </div>

    </nav>

    <div class="burger_menu_selection" [class.burger_menu_selection__visible]="isNavOpen">

        <a href="#AboutMeSectionID" class="nav_link nav_link--about" (click)="closeMenu()">{{ 'header.aboutMe' | translate }}</a>
        <a href="#SkillsSectionID"  class="nav_link nav_link--skills" (click)="closeMenu()">{{ 'header.skills' | translate }}</a>
        <a href="#ProjectsSectionID" class="nav_link nav_link--projects" (click)="closeMenu()">{{ 'header.projects' | translate }}</a>
        <a href="#ContactSectionID" class="nav_link nav_link--contact" (click)="closeMenu()">{{ 'header.contact' | translate }}</a>

        <section class="language_toggle_section">
            <p class="language language-en" [class.active-language]="isEnglish" (click)="setLanguage(true)" (click)="useLanguage('en')">
                EN
            </p>

            <div class="language-toggle" [class.active]="isEnglish" (click)="toggleLanguage()">
                <div class="language-toggle__circle"></div>
            </div>

            <p class="language language-de" [class.active-language]="!isEnglish" (click)="setLanguage(false)" (click)="useLanguage('de')">
                DE
            </p>
        </section>

        <div class="content_container_contact">
            <div class="content_container_contact_icon">
                <a href="https://www.linkedin.com/in/denis-nolting/" (click)="closeMenu()"><img
                        [src]="'./assets/icons/contact_icons/linkedin.svg'"></a>
            </div>
            <div class="content_container_contact_icon">
                <a href="https://github.com/nolticodes" (click)="closeMenu()"><img [src]="'./assets/icons/contact_icons/github.svg'"></a>
            </div>
            <div class="content_container_contact_icon">
                <a href="mailto:denis.nolting@gmx.de" (click)="closeMenu()"><img [src]="'./assets/icons/contact_icons/mail.svg'"></a>
            </div>
        </div>

    </div>



</section>