<section class="full_width">
    <nav class="header__navbar">
        <img [src]="'/assets/icons/placeholder/Vector.png'">
        <a href="#" class="nav_link nav_link--about">{{ 'header.aboutMe' | translate }}</a>
        <a href="#" class="nav_link nav_link--skills">{{ 'header.skills' | translate }}</a>
        <a href="#" class="nav_link nav_link--projects">{{ 'header.projects' | translate }}</a>
        <a href="#" class="nav_link nav_link--contact">{{ 'header.contact' | translate }}</a>
        <section class="language_toggle_section">
            <p class="language language-en" [class.active-language]="isEnglish" (click)="setLanguage(true)" (click)="useLanguage('en')">
                EN
            </p>

            <div class="language-toggle" [class.active]="isEnglish" (click)="toggleLanguage()">
                <div class="language-toggle__circle"></div>
            </div>

            <p class="language language-de" [class.active-language]="!isEnglish" (click)="setLanguage(false)" (click)="useLanguage('de')">
                DE
            </p>
        </section>
    </nav>

    <nav class="header__navbar header__navbar_mobile">
        <img [src]="'/assets/icons/placeholder/Vector.png'">

        <div class="container_burger_menu" [class.nav-open]="isNavOpen">
            <button class="menu-toggle" type="button" (click)="toggleMenu()">
                <span class="menu-toggle-bar menu-toggle-bar--top"></span>
                <span class="menu-toggle-bar menu-toggle-bar--middle"></span>
                <span class="menu-toggle-bar menu-toggle-bar--bottom"></span>
            </button>
        </div>

    </nav>

    <div class="burger_menu_selection" [class.burger_menu_selection__visible]="isNavOpen">

        <a href="#" class="nav_link nav_link--about">About me</a>
        <a href="#" class="nav_link nav_link--skills">Skills</a>
        <a href="#" class="nav_link nav_link--projects">Projects</a>
        <a href="#" class="nav_link nav_link--contact">Contact</a>

        <section class="language_toggle_section">
            <p class="language language-en" [class.active-language]="isEnglish" (click)="setLanguage(true)" (click)="useLanguage('en')">
                EN
            </p>

            <div class="language-toggle" [class.active]="isEnglish" (click)="toggleLanguage()">
                <div class="language-toggle__circle"></div>
            </div>

            <p class="language language-de" [class.active-language]="!isEnglish" (click)="setLanguage(false)" (click)="useLanguage('de')">
                DE
            </p>
        </section>

        <div class="contact_icons">
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Linkedin.png'">
            </div>
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Github.png'">
            </div>
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Mail.png'">
            </div>
        </div>

    </div>



</section>