.full_width {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;

}

.header__navbar {
    padding: 0 120px;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
    }
}