<section id="contact-section" class="full_width">

    <div class="content">

        <div class="content_left">
            <div class="content_right_sticker_container_mobile">
                <div class="content_right_sticker">
                    <img src="./assets/stickers/contact/sticker.svg">

                    <svg viewBox="0 0 150 150" class="sticker-text-mobile">
                        <defs>
                            <path id="stickerPath" d="M 15, 75 A 60,60 0 1,1 135,75 A 60,60 0 1,1 15,75" />
                        </defs>
                        <text>
                            <textPath href="#stickerPath" startOffset="0%">
                                Denis Nolting - Frontend Developer - Denis Nolting - Frontend Developer -
                            </textPath>
                        </text>
                    </svg>

                    <div class="content_right_sticker_logo">
                        <img src="./assets/stickers/contact/logo.svg">
                    </div>
                </div>
            </div>
            <h4>{{ 'home.contact.contactMe' | translate }}</h4>

            <h2>{{ 'home.contact.workTogether' | translate }}</h2>

            <p>{{ 'home.contact.contactTextOne' | translate }}</p>

            <p>{{ 'home.contact.contactTextTwo' | translate }}</p>

            <p>{{ 'home.contact.contactTextThree' | translate }}</p>

            <div class="content_left_img">
                <img [src]="'./assets/animation_img/contact/line.svg'">
            </div>



        </div>

        <div class="content_right">
            <div class="content_right_sticker_container">
                <div class="content_right_sticker">
                    <img src="./assets/stickers/contact/sticker.svg">

                    <svg viewBox="0 0 150 150" class="sticker-text">
                        <defs>
                            <path id="stickerPath" d="M 15, 75 A 60,60 0 1,1 135,75 A 60,60 0 1,1 15,75" />
                        </defs>
                        <text>
                            <textPath href="#stickerPath" startOffset="0%">
                                Denis Nolting - Frontend Developer - Denis Nolting - Frontend Developer -
                            </textPath>
                        </text>
                    </svg>

                    <div class="content_right_sticker_logo">
                        <img src="./assets/stickers/contact/logo.svg">
                    </div>
                </div>
            </div>


            <app-contact-form></app-contact-form>
        </div>

    </div>
</section>