.full_width {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/img/backgrounds/contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.content {
    width: 100%;
    max-width: 1920px;
    padding: 180px 120px;
    color: white;
    display: flex;

    &_left {
        width: 50%;

        h4 {
            font-size: 20px;
            font-weight: 400;
            padding-bottom: 16px;
        }

        h2 {
            font-size: 64px;
            padding-bottom: 24px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            padding-bottom: 16px;
        }

        &_img {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            img {
                animation: drawLine 6s infinite ease-in-out;
                padding-top: 32px;
                width: 50%;
            }
        }
    }

    &_right {
        width: 50%;
        padding-left: 80px;
        position: relative;

        &_sticker {
            position: relative;
            width: 150px;
            height: 150px;

            img {
                width: 150px;
                height: 150px;
            }

            p {
                position: absolute;
                top: 0;
                color: black;
            }

            &_logo {
                position: absolute;
                top: 0;
                left: 0;
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 80px;
                    transform: rotate(13deg);
                }
            }
        }

        .sticker-text {
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            height: 150px;

            path {
                fill: none;
                stroke: none;
            }

            text {
                font-size: 9px;
                font-weight: 700;
                letter-spacing: 0.73px;
            }
        }
    }
}

.content_right_sticker_container {
    display: flex;
    justify-content: flex-end;
}

@keyframes drawLine {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    6% {
        clip-path: inset(0 0 0 0);
    }

    60% {
        clip-path: inset(0 0 0 0);
    }

    66% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

app-contact-form {
    display: block;
    width: 100%;
    margin-top: -40px;
    position: static;
}

.content_right_sticker_container_mobile {
    display: none;
}

@media (max-width: 1250px) {
    .content {
        flex-direction: column;

        &_left {
            width: 100%;
            padding-bottom: 80px;

            &_img {
                img {
                    display: none;
                }
            }
        }

        &_right {
            width: 100%;
            padding: 0;
        }

        &_right_sticker_container {
            display: none
        }

        &_right_sticker_container_mobile {
            position: relative;
            display: flex;
            justify-content: flex-end;
        }

        .sticker-text-mobile {
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            height: 150px;

            path {
                fill: none;
                stroke: none;
            }

            text {
                font-size: 9px;
                font-weight: 700;
                letter-spacing: 0.73px;
            }
        }
    }
}

@media (max-width:1000px) {
    .content {
        padding: 180px 24px;
    }
}

@media (max-width:450px) {
    .content_left {
        h2 {
            font-size: 48px
        }
    };
}