<section class="full_width">

    <div class="content">

        <div class="content_left">
            <h4>CONTACT ME</h4>

            <h2>Ready to work together?</h2>

            <p> Looking for a Frontend or Junior Fullstack Developer? </p>

            <p>I'm currently completing a Fullstack Developer program and actively building real-world projects to
                strengthen my skills. I enjoy turning ideas into interactive web applications, learning new
                technologies, and contributing to meaningful products.</p>

            <p>Let's connect and create something great together.</p>

            <div class="content_left_img">
                <img [src]="'/assets/animation_img/contact/line.svg'">
            </div>
            
        </div>

        <div class="content_right">
            <p>TEST</p>
            <app-contact-form></app-contact-form>
        </div>

    </div>
</section>