<section class="full_width full_width__hero">
    <div class="hero">
        <div class="text_section">

            <div class="text_section__polaroid_sticker">
                <img [src]="'./assets/stickers/polaroid_frame.png'">
            </div>

            <div class="text text__hello_world" 

                [class.text--large]="isHovered"
                [class.text--fade]="isTextFading" 
                [class.text--shrink]="isTextShrinking"
                (animationend)="onTextAnimationEnd($event)"
                (mouseenter)="onMouseEnter()" 
                (mouseleave)="onMouseLeave()">

                <div class="text__background"></div>

                <img class="waving_hand" [class.waving_hand--visible]="isHovered && !isHandLeaving"
                    [class.waving_hand--exit]="isHandLeaving" (animationend)="onHandAnimationEnd()"
                    [src]="'./assets/icons/hero/waving_hand.png'">

                <p (transitionend)="onTextTransitionEnd($event)">
                    {{ displayText }}
                </p>

            </div>

            <div class="headline">
                <h1 appChangeLetterHover>Frontend</h1>
                <h1 appChangeLetterHover>DEVELOPER</h1>
            </div>
            <div class="text text__get_in_touch">
                <p>Get in touch</p>
            </div>
        </div>

        <div class="contact_icons">
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Linkedin.png'">
            </div>
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Github.png'">
            </div>
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Mail.png'">
            </div>

        </div>
    </div>
</section>