.full_width {
    display: flex;
    justify-content: center;
    width: 100%;

    &__hero {
        background-color: green;
        background-image: url('/assets/img/backgrounds/hero.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.hero {
    width: 100%;
    max-width: 1920px;
    height: 100dvh;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 120px;
}

.header {
    background-color: blue;
    height: 120px;
    width: 100%;
}

.hero h1 {
    color: white;
    font-size: 160px;
}

.headline {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
}

.headline h1:first-child {
    align-self: flex-start;
}

.headline h1:last-child {
    align-self: flex-end;
}

.hero p {
    color: white;
    font-size: 20px;
}

.text__hello_world {
    position: relative;
}

.text_section {
    display: flex;
    flex-direction: column;
    width: 80%;

    &__polaroid_sticker {
        img {
            position: absolute;
            width: 240px;
            right: 20%;
            top: 20%;
            transform: rotate(5deg);
        }
    }

    &__waving_hand img {
        width: 40px;
    }
}

.waving_hand {
    position: absolute;
    width: 40px;
    right: 0;
    top: -41px;
    opacity: 0;
    transform: translateX(-20px) rotate(-150deg);
    pointer-events: none;
    z-index: 2;
    transform-origin: center center;
}

.waving_hand--visible {
    opacity: 1;
    animation: handEnter 900ms ease-out forwards;
}

@keyframes handEnter {
    0% {
        transform: translateX(-10px) rotate(-150deg);
        opacity: 0;
    }

    40% {
        transform: translateX(6px) rotate(4deg);
        opacity: 1;
    }

    78% {
        transform: translateX(-3px) rotate(-5deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.waving_hand--exit {
    opacity: 0;
    animation: handExit 500ms linear forwards;
}

@keyframes handExit {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }

    10% {
        transform: translateX(-2px) rotate(-50deg);
        opacity: 1;
    }

    25% {
        transform: translateX(-5px) rotate(-80deg);
        opacity: 1;
    }

    50% {
        transform: translateX(-10px) rotate(-125deg);
        opacity: 1;
    }

    75% {
        transform: translateX(-15px) rotate(-150deg);
        opacity: 0.6;
    }

    100% {
        transform: translateX(-20px) rotate(-170deg);
        opacity: 0;
    }
}


.text {
    position: relative;
    width: 142px;
    padding: 8px 24px;
    color: white;
    transition: width 250ms ease-out;

}

.text__background {
    position: absolute;
    inset: 0;

    border-radius: 24px;
    overflow: hidden;

    z-index: 0;
}

.text__background::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: #3355FF;

    clip-path: circle(0% at 50% 100%);
    transition: clip-path 300ms ease;
}

.text:hover .text__background::before {
    clip-path: circle(150% at 50% 100%);
}

.text p {
    position: relative;
    z-index: 2;
}

.waving_hand {
    z-index: 2;
}


.text::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid white;
    border-radius: 24px;
    transform-origin: left center;
    pointer-events: none;
    z-index: 1;
}

.text--large {
    width: 240px;
}


.text--fade p {
    opacity: 0;
}

.text--large::before {
    animation: wobble 900ms ease-out
}

@keyframes wobble {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(1.02);
    }

    78% {
        transform: scaleX(0.99);
    }

    100% {
        transform: scaleX(1);
    }
}

.text p {
    opacity: 1;
    white-space: nowrap;
    transition: opacity 150ms ease;
}

.text--fade p {
    opacity: 0;
}


.text__get_in_touch {
    margin-left: auto;
}


.contact_icons {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 8px;

    &__hover {
        display: inline-block;
        position: relative;
        overflow: hidden;
        border: 2px solid white;
        border-radius: 24px;
        cursor: pointer;
    }

    &__hover::before {
        content: "";
        position: absolute;
        inset: 0;

        background-color: #3355FF;

        clip-path: circle(0% at 50% 100%);

        transition: clip-path 300ms ease;

        z-index: 0;
    }

    &__hover:hover::before {
        clip-path: circle(150% at 50% 100%);
    }

    &__hover img {
        display: block;
        position: relative;
        z-index: 1;
        padding: 4px;
    }
}


.text--shrink::before {
    animation: wobbleShrink 900ms ease-out;
}

@keyframes wobbleShrink {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(0.98);
    }

    78% {
        transform: scaleX(1.01);
    }

    100% {
        transform: scaleX(1);
    }
}