<section class="full_width full_width__hero">
    <div class="hero">
        <div class="text_section">

            <img [src]="'./assets/stickers/polaroid_frame.png'">

            <div class="text text__hello_world" [class.text--large]="displayText === hoverText"
                [class.text--fade]="isTextFading" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

                <p (transitionend)="onTextTransitionEnd($event)">
                    {{ displayText }}
                </p>

            </div>

            <div class="headline">
                <h1 appChangeLetterHover>Frontend</h1>
                <h1 appChangeLetterHover>DEVELOPER</h1>
            </div>
            <div class="text text__get_in_touch">
                <p>Get in touch</p>
            </div>
        </div>

        <div class="contact_icons">
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Linkedin.png'">
            </div>
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Github.png'">
            </div>
            <div class="contact_icons__hover">
                <img [src]="'./assets/icons/contact_icons/Mail.png'">
            </div>

        </div>
    </div>
</section>