.full_width {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url('/assets/img/backgrounds/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    max-width: 1920px;
    height: 100dvh;
    max-height: 100dvh;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: white;
        font-size: 140px;
    }

    p {
        color: white;
        font-size: 24px;
    }
}

.content_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_headline {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        letter-spacing: 3px;

        h1 {
            &:first-child {
                align-self: flex-start;
            }

            &:last-child {
                align-self: flex-end;
            }
        }
    }

    &_btn_hello {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;

        &_text {
            width: 200px;

            text-align: center;
            align-items: flex-start;
            transition: width 200ms ease;

            &:hover {
                cursor: pointer;
                width: 240px;
            }

            &:hover~.content_container_btn_hello_img img {
                opacity: 1;
                animation: hoverStart 900ms ease-out forwards;
            }

        }

        &_img {
            width: 240px;
            display: flex;
            justify-content: flex-end;

            img {
                width: 40px;
                height: 40px;
                transform: translateX(-80px);
                animation: hoverEnd 300ms ease-out forwards;
            }
        }

        p {
            border: solid 1px white;
            border-radius: 24px;
            padding: 8px 24px;
            position: relative;
            overflow: hidden;
            z-index: 1;

            span {
                position: relative;
                z-index: 2;
                transition: opacity 200ms ease;
            }

            &::before {
                content: "I'm Denis Nolting";
                position: absolute;
                inset: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #3355FF;
                clip-path: circle(0% at 50% 100%);
                transition: clip-path 300ms ease;
                z-index: 2;
            }

            &:hover {

                span {
                    opacity: 0;
                }

                &::before {
                    clip-path: circle(150% at 50% 100%);
                }
            }
        }
    }

    &_btn_contact {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: flex-end;

        a {
            text-decoration: none;
            font-size: 24px;
            color: white;
            padding: 8px 24px;
            border-radius: 24px;
            box-shadow: 3px 4px 0 white;
            border: 1px solid white;
            transition: transform 200ms ease;


            &:hover {
                transform: translate(3px, 4px);
                box-shadow: 0 0 0 white;
                background-color: #F87A55;
                color: white;
                cursor: pointer;

            }
        }
    }
}

.content_container_contact {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 8px;

    &_icon {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 24px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        z-index: 0;

        a {
            width: 24px;
            height: 24px;
        }

        img {
            width: 24px;
            height: 24px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: #3355FF;
            clip-path: circle(0% at 50% 100%);
            transition: clip-path 300ms ease;
            z-index: -1;
        }

        &:hover {
            &::before {
                clip-path: circle(150% at 50% 100%);
            }
        }
    }
}



.content_container_btn_hello_text p {
    transform-origin: left center;
}

.content_container_btn_hello_text:hover p {
    animation: wobbleFrameGrow 900ms ease-out forwards;
}


.text_section__polaroid_sticker {
    width: 240px;
    transform: translate(320px, 240px) rotate(5deg);

    &:hover {
        .profile_img__default {
            opacity: 0;
        }

        .profile_img__hover {
            opacity: 1;
        }
    }

    >img {
        position: relative;
        width: 100%;
        display: block;
        z-index: 2;
    }

    &__profile_img {
        position: absolute;
        top: 42%;
        left: 50%;
        z-index: 2;
        width: 210px;
        height: 220px;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
}

.profile_img {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 300ms ease;

    &__default {
        background-image: url('/assets/img/profile/profile.jpeg');
        opacity: 1;
        z-index: 1;
    }

    &__hover {
        background-image: url('/assets/img/profile/profile.jpeg');
        opacity: 0;
        z-index: 2;
    }
}

.polaroid_text {
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 100%;
    text-align: center;

    span {
        font-family: "Kalam", sans-serif;
        font-size: 32px;
    }


    &__default,
    &__hover {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        transition: opacity 300ms ease;
    }

    &__default {
        opacity: 1;
    }

    &__hover {
        opacity: 0;
    }
}

.text_section__polaroid_sticker {
    &:hover {
        .profile_img__default {
            opacity: 0;
        }

        .profile_img__hover {
            opacity: 1;
        }

        .polaroid_text__default {
            opacity: 0;
        }

        .polaroid_text__hover {
            opacity: 1;
        }
    }
}

@keyframes wobbleFrameGrow {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(1.02);
    }

    70% {
        transform: scaleX(0.99);
    }

    95% {
        transform: scaleX(1.01);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes hoverStart {
    0% {
        transform: translateX(-80px) rotate(-150deg);
        opacity: 0;
    }

    40% {
        transform: translateX(5px) rotate(20deg);
        opacity: 1;
    }

    70% {
        transform: translateX(-3px) rotate(-10deg);
    }

    95% {
        transform: translateX(1px) rotate(1deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
        ;
    }
}

@keyframes hoverEnd {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateX(-80px) rotate(-150deg);
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    .content {
        padding: 80px 24px;
        ;
    }

    .text_section__polaroid_sticker {
        transform: translate(280px, 240px) rotate(5deg);
    }
}

@media(max-width: 900px) {
    .content_container_headline h1 {
        font-size: 120px;
    }

    .text_section__polaroid_sticker {
        transform: translate(240px, 240px) rotate(5deg);
    }
}

@media (max-width: 850px) {
    .content_container_contact {
        display: none;
    }

    .content {
        justify-content: flex-start;
    }

    .content_container {
        height: 600px;
        justify-content: flex-end;
    }

    .text_section__polaroid_sticker {
        position: absolute;

        top: 40%;
        right: calc((100% + 240px) / 2);

    }
}

@media (max-width: 700px) {
    .content_container_headline h1 {
        font-size: 90px;
    }
}

@media (max-width: 550px) {
    .content_container_headline h1 {
        font-size: 70px;
    }
}

@media (max-width: 450px) {
    .content_container_headline h1 {
        font-size: 50px;
    }
}

@media (max-width: 380px) {
    .content_container_headline h1 {
        font-size: 40px;
    }
}