<section class="full_width">

    <div class="content">
        <div class="content_container">
            <div class="text_section__polaroid_sticker">
                <div class="text_section__polaroid_sticker__profile_img">
                    <div class="profile_img profile_img__default"></div>
                    <div class="profile_img profile_img__hover"></div>
                </div>
                <div class="polaroid_text">
                    <span class="polaroid_text__default">Denis :)</span>
                    <span class="polaroid_text__hover">Denis :D</span>
                </div>
                <img [src]="'./assets/stickers/polaroid_frame.png'">
            </div>


            <div class="content_container_btn_hello">
                <div class="content_container_btn_hello_text">
                    <p >
                        <span>Hello World</span>
                    </p>
                </div>
                <div class="content_container_btn_hello_img">
                    <img [src]="'./assets/icons/hero/waving_hand.svg'">
                </div>

            </div>
            <div class="content_container_headline">
                <h1 appChangeLetterHover>Fullstack</h1>
                <h1 appChangeLetterHover>DEVELOPER</h1>
            </div>
            <div class="content_container_btn_contact">
                <a href="#ContactSectionID">{{'home.hero.getInTouch' | translate}}</a>
            </div>
        </div>

        <div class="content_container_contact">
            <div class="content_container_contact_icon">
                <a href="https://www.linkedin.com/in/denis-nolting/"><img
                        [src]="'./assets/icons/contact_icons/linkedin.svg'"></a>
            </div>
            <div class="content_container_contact_icon">
                <a href="https://github.com/nolticodes"><img [src]="'./assets/icons/contact_icons/github.svg'"></a>
            </div>
            <div class="content_container_contact_icon">
                <a href="mailto:denis.nolting@gmx.de"><img [src]="'./assets/icons/contact_icons/mail.svg'"></a>
            </div>
        </div>

    </div>

</section>