<section class="full_width" [class.footer-dark]="isLegalNoticePage() || isPolicyPage()">

    <div class="content">

        <div class="content_element_container">
            <a href="#HeroSectionID" class="content_element_container_img"></a>

            <p>© Denis Nolting 2026</p>
            <div class="content_element_container_legal">
                <a routerLink="/legal-notice">{{'footer.legal' | translate}}</a>
                <div class="content_element_container_legal_background"></div>
            </div>
        </div>

        <div class="content_element_container_mobile">
            <a href="#HeroSectionID" class="content_element_container_img"></a>
            <div class="content_element_container_legal_copy_mobile">
                <p>© Denis Nolting 2026</p>
                <div class="content_element_container_legal">
                    <a routerLink="/legal-notice">{{'footer.legal' | translate}}</a>
                    <div class="content_element_container_legal_background"></div>
                </div>
            </div>
        </div>


        <div class="content_element_container_single">
            <a href="https://github.com/nolticodes">GitHub</a>
            <div class="content_element_container_single_icon">
                <img [src]="'/assets/icons/contact_icons/github.svg'">
            </div>
        </div>

        <div class="content_element_container_single">
            <a href="https://www.linkedin.com/in/denis-nolting/">LinkedIn</a>
            <div class="content_element_container_single_icon">
                <img [src]="'/assets/icons/contact_icons/linkedin.svg'">
            </div>
        </div>

        <div class="content_element_container_single">
            <a href="mailto:denis.nolting@gmx.de">Email</a>
            <div class="content_element_container_single_icon">
                <img [src]="'/assets/icons/contact_icons/mail.svg'">
            </div>
        </div>


        <div class="content_element_container_single_mobile_all">
            <div class="content_element_container_single_mobile">
                <a href="https://github.com/nolticodes">GitHub</a>
                <div class="content_element_container_single_icon">
                    <img [src]="'/assets/icons/contact_icons/github.svg'">
                </div>
            </div>

            <div class="content_element_container_single_mobile">
                <a href="https://www.linkedin.com/in/denis-nolting/">LinkedIn</a>
                <div class="content_element_container_single_icon">
                    <img [src]="'/assets/icons/contact_icons/linkedin.svg'">
                </div>
            </div>

            <div class="content_element_container_single_mobile">
                <a href="mailto:denis.nolting@gmx.de">Email</a>
                <div class="content_element_container_single_icon">
                    <img [src]="'/assets/icons/contact_icons/mail.svg'">
                </div>
            </div>
        </div>
    </div>
</section>