<section class="full_width">

    <div class="content">

        <div class="content_element_container">
            <a href="#HeroSectionID" class="content_element_container_img"></a>
            <p>© Denis Nolting 2026</p>
            <div class="content_element_container_legal">
                <a href="#" >Legal Notice</a>
                <div class="content_element_container_legal_background"></div>
            </div>
            
        </div>

        <div class="content_element_container_single">
            <a href="https://github.com/nolticodes">GitHub</a>
        </div>

        <div class="content_element_container_single">
            <a href="https://www.linkedin.com/in/denis-nolting/">LinkedIn</a>
        </div>

        <div class="content_element_container_single">
            <a href="#HeroSectionID">Email</a>
        </div>

    </div>

</section>