<section class="about_me_section">

    <div class="ripped_papers">
        <div class="ripped_paper_container location">
            <img [src]="'./assets/stickers/about_me/1.png'">
            <div class="ripped_paper_text">
                <img [src]="'./assets/icons/aboutme/location.png'">
                <p>Based in Hamburg</p>
            </div>
        </div>

        <div class="ripped_paper_container relocation">
            <img [src]="'./assets/stickers/about_me/2.png'">
            <div class="ripped_paper_text">
                <img [src]="'./assets/icons/aboutme/relocation.png'">
                <p>Not open to relocate</p>
            </div>
        </div>

        <div class="ripped_paper_container remote">
            <img [src]="'./assets/stickers/about_me/3.png'">
            <div class="ripped_paper_text">
                <img [src]="'./assets/icons/aboutme/remote.png'">
                <p>Open to work remote</p>
            </div>
        </div>

    </div>

    <div class="about_me_text_section">
        <div class="about_me_text_section__question">
            <p>WHO'S DENIS?</p>
        </div>

        <div class="about_me_text_section__headline">
            <h2>About me</h2>
            <img [src]="'./assets/animation_img/about_me/Color option 3.png'">
        </div>

        <div class="about_me_text_section__text">
            <p>
                Hey there, I'm Denis.

                I'm a Fullstack Developer in training with a passion for creating interactive web applications and
                learning new technologies.

                I enjoy tackling challenges, finding elegant solutions, and growing with every project I build. For me,
                coding is a continuous journey of learning and improvement.
            </p>
            <p> Let's collaborate and build something remarkable together!</p>
        </div>

        <div class="about_me_text_section__button">
            <button class="btn_lets_talk">
                Let's talk
            </button>
        </div>


    </div>

</section>