<section class="full_width">
    <div class="content">
        <h3>{{ 'privacyPolicy.responsible' | translate }}</h3>
        <br>

        <p>{{ 'privacyPolicy.responsibleText' | translate }}</p>
        <br>

        <p>
            Denis Nolting<br>
            Rennbahnstraße 18<br>
            22111 Hamburg<br>
            Deutschland
        </p>

        <p>
            {{ 'privacyPolicy.email' | translate }}:
            <a href="mailto:denis.nolting@gmx.de">denis.nolting@gmx.de</a>
        </p>
        <br>

        <h3>{{ 'privacyPolicy.general' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalTextOne' | translate }}</p>
        <p>{{ 'privacyPolicy.generalTextTwo' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.hosting' | translate }}</h3>
        <p>{{ 'privacyPolicy.hostingTextOne' | translate }}</p>
        <p>{{ 'privacyPolicy.hostingTextTwo' | translate }}</p>

        <p>
            - {{ 'privacyPolicy.ip' | translate }}<br>
            - {{ 'privacyPolicy.date' | translate }}<br>
            - {{ 'privacyPolicy.page' | translate }}<br>
            - {{ 'privacyPolicy.data' | translate }}<br>
            - {{ 'privacyPolicy.browser' | translate }}<br>
            - {{ 'privacyPolicy.os' | translate }}<br>
            - {{ 'privacyPolicy.referrer' | translate }}
        </p>

        <p>{{ 'privacyPolicy.hostingTextThree' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.contactForm' | translate }}</h3>
        <p>{{ 'privacyPolicy.contactFormTextOne' | translate }}</p>
        <p>{{ 'privacyPolicy.contactFormTextTwo' | translate }}</p>

        <p>
            - {{ 'privacyPolicy.name' | translate }}<br>
            - {{ 'privacyPolicy.email' | translate }}<br>
            - {{ 'privacyPolicy.message' | translate }}
        </p>

        <p>{{ 'privacyPolicy.contactFormTextThree' | translate }}</p>
        <p>{{ 'privacyPolicy.contactFormTextFour' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.mail' | translate }}</h3>
        <p>{{ 'privacyPolicy.mailTextOne' | translate }}</p>
        <p>{{ 'privacyPolicy.mailTextTwo' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.fonts' | translate }}</h3>
        <p>{{ 'privacyPolicy.fontsText' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.links' | translate }}</h3>
        <p>{{ 'privacyPolicy.linksTextOne' | translate }}</p>
        <p>{{ 'privacyPolicy.linksTextTwo' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.cookies' | translate }}</h3>
        <p>{{ 'privacyPolicy.cookiesTextOne' | translate }}</p>
        <p>{{ 'privacyPolicy.cookiesTextTwo' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.rights' | translate }}</h3>
        <p>{{ 'privacyPolicy.rightsText' | translate }}</p>

        <p>
            - {{ 'privacyPolicy.rightInformation' | translate }}<br>
            - {{ 'privacyPolicy.rightCorrection' | translate }}<br>
            - {{ 'privacyPolicy.rightDeletion' | translate }}<br>
            - {{ 'privacyPolicy.rightRestriction' | translate }}<br>
            - {{ 'privacyPolicy.rightObjection' | translate }}<br>
            - {{ 'privacyPolicy.rightTransfer' | translate }}
        </p>

        <p>{{ 'privacyPolicy.rightsTextTwo' | translate }}</p>
        <br>

        <h3>{{ 'privacyPolicy.updates' | translate }}</h3>
        <p>{{ 'privacyPolicy.updatesTextOne' | translate }}</p>
        <p>{{ 'privacyPolicy.updatesTextTwo' | translate }}</p>
    </div>
</section>