<section class="full_width">
    <section class="skills_container">
        <div class="skills_container_left">

            <p>MY STACK</p>

            <h2>Skill set</h2>

            <div class="skills_container_left_drawn_line">
                <img [src]="'assets/animation_img/skills/red_line.png'">
            </div>

        </div>



        <div class="skills_container_middle">
            <div class="skills_container_middle_text">
                <p>Moin du Landratte</p>
            </div>

            <div class="skills_container_middle_skillicons">
                @for (skill of frontendSkills; track skill.name) {
                <div class="skill_container">
                    <img [src]="skill.imgUrl">
                    <p>{{skill.name}}</p>
                </div>
                }
            </div>
        </div>

        <div class="skills_container_right">

            <img class="peel_sticker" [src]="pullToPeelImages[currentStickerIndex]" (click)="changeStickerImage()">

        </div>
    </section>
</section>