<section id="SkillsSectionID" class="full_width">
    <section class="skills_container">
        <div class="skills_container_left">

            <p>{{'home.skills.stack' | translate}}</p>

            <h2>{{'home.skills.skillSet' | translate}}</h2>

            <div class="skills_container_left_drawn_line">
                <img [src]="'assets/animation_img/skills/red_line.png'">
            </div>

        </div>

        <div class="skills_container_middle">

            <div class="skills_container_middle_ripped_paper">
                <img [src]="'./assets/stickers/skills/skills_paper.png'">
                <div class="skills_container_middle_text">
                    <p>{{'home.skills.text' | translate}}</p>
                </div>
            </div>

            <div class="skills_container_middle_skillicons">
                @for (skill of frontendSkills; track skill.name) {
                <div class="skill_container">
                    <img [src]="skill.imgUrl">
                    <p>{{skill.name}}</p>
                </div>
                }
            </div>

            <div class="skills_container_middle_skillicons">
                @for (skill of backendSkills; track skill.name) {
                <div class="skill_container">
                    <img [src]="skill.imgUrl">
                    <p>{{skill.name}}</p>
                </div>
                }
            </div>
        </div>

        <div class="skills_container_right">

            <img class="peel_sticker" [src]="pullToPeelImages[currentStickerIndex]" (click)="changeStickerImage()">

            @if(currentStickerIndex === 2) {
            <div class="skills_container_right_sticker_text_overlay" (click)="changeStickerImage()">
                <p>I'm learning more every day! <br> Next up: <br> backend development skills</p>
            </div>
            }



        </div>
    </section>
</section>