<section class="full_width">
    <div class="content">

        <h3>{{ 'legalNotice.information' | translate }}</h3>
        <br>

        <p>
            Denis Nolting<br>
            Rennbahnstraße 18<br>
            22111 Hamburg
        </p>
        <br>

        <h3>{{ 'legalNotice.represented' | translate }}</h3>
        <p>Denis Nolting</p>
        <br>

        <h3>{{ 'legalNotice.contact' | translate }}</h3>
        <p>
            {{ 'legalNotice.phone' | translate }}: +49 152 09520085<br>
            {{ 'legalNotice.email' | translate }}:
            <a href="mailto:denis.nolting@gmx.de">
                denis.nolting@gmx.de
            </a>
        </p>
        <br>

        <h3>{{ 'legalNotice.consumerDispute' | translate }}</h3>
        <p>
            {{ 'legalNotice.consumerDisputeText' | translate }}
        </p>
        <br>

        <h3>{{ 'legalNotice.privacy' | translate }}</h3>
        <p>
            {{ 'legalNotice.privacyText' | translate }}
            <a routerLink="/privacy-policy">
                {{ 'legalNotice.privacyLink' | translate }}
            </a>.
        </p>

        <p>
            {{ 'legalNotice.generatorText' | translate }}
            <a href="https://impressum-generator.de" rel="dofollow">
                Impressum-Generator.de
            </a>.
            {{ 'legalNotice.poweredBy' | translate }}
            <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">
                Franziska Hasselbach, Bonn
            </a>.
        </p>

    </div>
</section>