.full_width {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1920px;
    padding: 80px 120px;

    p, h3 {
        color: black
    }
}