@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Kalam';
    src: url('/assets/fonts/Kalam/Kalam-Bold.ttf') format('truetype');

}

html,
body {
    font-family: "Bricolage Grotesque", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


app-footer {
    display: block;
    width: 100%;
    position: relative;
    z-index: 100;
    margin-top: -220px;
}

@media (max-width: 1250px) {
    app-footer {
        margin-top: -300px;
    }
    
}

@media (max-width: 650px) {
    app-footer {
        margin-top: -320px;
    }
}

app-footer.footer-static {
    margin-top: 0 !important;
}